# Ignore Python cache & environment
__pycache__/
*.pyc
*.pyo
*.pyd
.venv/
.env

# Ignore system and IDE files
*.db
*.log
*.swp
.DS_Store
.vscode/

# Ignore datasets and models (large files)
data/
*.pkl
*.model
*.csv
*.tsv
*.json

# Ignore Git files
.git/
.gitignore

